APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 42.192.142.39DATABASE = suppermallUSERNAME = rootPASSWORD = Zhx123!_HOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn